#reportsTableCol1 {
    width: 83px;
    overflow: hidden;
    white-space: nowrap;
}

#reportsTableCol2 {
    width: 87px;
    overflow: hidden;
    white-space: nowrap;
}

#reportsTableCol3 {
    width: 97px;
    overflow: hidden;
    white-space: nowrap;
}

#reportsTableCol4 {
    width: 97px;
    overflow: hidden;
    white-space: nowrap;
}

#reportsTableCol5 {
    width: 121px;
    overflow: hidden;
    white-space: nowrap;
}

@media (max-width: 561px) {
    #reports .card-header {
        width: 494px !important;
    }

    .filterByDateFontSize {
        font-size: 11px !important;
        height: 33.6px;
    }
}

@media (max-width: 400px) {
    .filterByDateFontSize {
        font-size: 9px !important;
        height: 33.6px;
    }
}

@media (min-width: 800px) {
    #reportsTableCol5 {
        width: 145px;
        overflow: hidden;
        white-space: nowrap;
    }

    #reportsTableH5 {
        width: 145px !important;
        cursor: pointer;
    }
}

#reports .card-header {
    padding-bottom: 7px !important;
    background-color: #f3f1f1f6 !important;
}

#reports th {
    border: none !important;
    background-color: #f3f1f1f6 !important;
}

#reports .card #reportsTableH1 {
    padding: 1px;
    width: 83px;
    cursor: pointer;
}

#reportsTableH2 {
    padding: 1px;
    width: 87px;
    cursor: pointer;
}

#reportsTableH3 {
    padding: 1px;
    width: 97px !important;
    cursor: pointer;
}

#reportsTableH4 {
    padding: 1px;
    width: 97px;
    cursor: pointer;
}

#reportsTableH5 {
    padding: 1px;
    width: 121px;
    cursor: pointer;
}

.icon-container {
    position: relative;
    background-color: #f8f8f8 !important;
    padding: 0px !important;
    text-align: center;
}

#sortAsc {
    position: absolute;
    bottom: -16px;
    right: 50%;
}

#sortDesc {
    position: absolute;
    bottom: -8px;
    right: 50%;
}

#showMoreReports:hover {
    background-image: linear-gradient(to bottom, #e2e3e5, rgb(192, 191, 189));
}

.footer {
    background-image: linear-gradient(to bottom, #e4e7e8, #c3c8cb, #757e85);
}

.tooltip-inner {
    background-color: #222222 !important;
    color: #fff !important;
    border-radius: 4px !important;
    padding: 7px !important;
    text-align: start !important;
    font-size: 14px !important;
}

.highlighted {
    color: yellow;
}
