#reportsTableCol1 {
    width: 83px;
    overflow: hidden;
    white-space: nowrap;
}

#reportsTableCol2 {
    width: 87px;
    overflow: hidden;
    white-space: nowrap;
}

#reportsTableCol3 {
    width: 97px;
    overflow: hidden;
    white-space: nowrap;
}

#reportsTableCol4 {
    width: 97px;
    overflow: hidden;
    white-space: nowrap;
}

#reportsTableCol5 {
    width: 121px;
    overflow: hidden;
    white-space: nowrap;
}

@media (max-width: 525px) {
    #reports .card-header {
        width: 500px !important;
    }
}

#reports .card #reportsTableH1 {
    width: 83px;
    cursor: pointer;
}

#reportsTableH2 {
    width: 87px;
    cursor: pointer;
}

#reportsTableH3 {
    width: 97px;
    cursor: pointer;
}

#reportsTableH4 {
    width: 97px;
    cursor: pointer;
}

#reportsTableH5 {
    width: 121px;
    cursor: pointer;
}

.icon-container {
    position: relative;
    background-color: #f8f8f8 !important;
    padding: 0px !important;
    text-align: center;
}

#sortAsc {
    position: absolute;
    bottom: -16px;
    right: 50%;
}

#sortDesc {
    position: absolute;
    bottom: -8px;
    right: 50%;
}

#reportsTableH3 {
    position: relative;
    vertical-align: bottom !important;
}

#reportsTableH3 span {
    padding: 0;
    margin: 0;
    background-color: #f8f8f8 !important;
    position: absolute;
    bottom: 0;
}

#orderIcon {
    background-color: #f8f8f8 !important;
    position: absolute;
    right: 50%;
}

#showMoreReports:hover {
    background-image: linear-gradient(to bottom, #e2e3e5, rgb(192, 191, 189));
}

.footer {
    background-image: linear-gradient(to bottom, #e4e7e8, #c3c8cb, #757e85);
}
